html {
  height: 100%;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: auto;
  box-sizing: border-box;
}

header {
  padding: 115px 0 32px 0;
  background-color: #00bcd4;
  color: white;
}

main, header > h1 {
  padding: 0 16px;
  max-width: 760px;
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
}

main {
  margin: 24px auto;
  box-sizing: border-box;
}
.is-invisible {
  opacity: 0;
}

.subscription-details {
  transition: opacity 1s;
}

.message-input {
  display: inline-block;
  margin: 0 0 0 25px;
}

@media (max-width: 600px) {
  header > h1 {
    font-size: 36px;
  }
}
